body {
    font-family: 'Montserrat', sans-serif;
    background-color: #303030;
}
img {
     color: #FFFFFF;
     text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: White;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: grey;
}

nav ul li:first-child::before {
    content: "• ";
    margin-right: 5px;
    color: White;
}

nav ul li:last-child::after {
    content: " •";
    margin-left: 5px;
    color: White;
}

nav ul li:not(:last-child)::after {
    content: "ʘ⁠‿⁠ʘ";
    color: White;
    margin-left: 27px;
    margin-right: 0px;
}


h1 {
    color: white;
    text-align: center;
}

h2, h3 {
    color: white;
    text-align: center;
}

p1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

p2 {
    color: #ffffff;
    font-size: 18.72px;
    font-weight: bold;
    text-align: center;
}

p3 {
    color: #ffffff;
    text-align: center;
}

p4 {
    color: #A9A9A9;
    text-align: center;
}

p5 {
    color: white;
    text-align: center;
}

footer {
        color: White;
}

ul {
   color: White;
}

alt {
    color: White;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.about-container img {
    width: 200px; /* Adjust the width as needed */
    border-radius: 20%;
    margin-right: 20px;
}

.about-description {
    text-align: left; /* Align the description to the left */
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.skills ul li {
    margin: 5px 0;
}


/* Hero section */
#hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    margin-top: 320px;
    color: #fff;
    animation: fadeInUp 1s ease;
}

.hero-image {
    /* Add animation for the image */
}

/* Animations */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}